# Ignore virtual environments
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore model/data files
*.zip
*.pt
*.h5

# Ignore IDE files (e.g., VSCode, IntelliJ)
.vscode/
.idea/

# macOS specific files
.DS_Store
